* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  color: white;
  font-family: monospace;
}
body {
  background-color: black;
}
.nav {
  height: 10vh;
  width: 80vw;
  background-color: #222121;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;

  .nav-menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .nav-logos {
    width: 10%;
    display: flex;
    justify-content: space-between;
  }
}

.main-contant {
  height: 70vh;
  display: flex;
  width: 70vw;
  margin: auto;
  align-items: center;
  .text-contant {
    padding-right: 10%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    padding-right: 15%;
    h1 {
      font-size: 50px;
      margin-bottom: 5%;
    }
    .let-start-btn {
      height: 40px;
      width: 40%;
      margin-top: 5%;
      background-color: green;
      border: none;
      border-radius: 3px;
    }
  }
  .profile-pic {
    padding: 5%;
    img {
      border-radius: 50%;
    }
  }
}

.footer {
  width: 70vw;
  margin: auto;
  height: 13vh;
  .footer-logo {
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
